<!DOCTYPE HTML>
<html>
<head>
<title>Jormungandr</title>
<link rel="stylesheet" href="app.css">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link href='//fonts.googleapis.com/css?family=Macondo' rel='stylesheet'>
</head>
<!-- ########## -->
<body>
    
<div class="header">

<a href="/contact" class="menuitem" id="one">PROGRAMMING</a>
<a href="/boot" class="menuitem" id="two">THE CLOUD</a>
<a href="/" class="menuitem" id="logopic">
  
<a href="/" class="menuitem" id="logopic">PROJECT:</a>
  
</a>
<a href="/" class="menuitem" id="logo">Jormungandr</a>
<a href="/" class="menuitem" id="logotext">A Linux Engineering Curriculum</a>
<a href="/about" class="menuitem" id="three">ABOUT</a>
<a href="/bewbs" class="menuitem" id="four"> LINUX</a>

</div>

<div class="about">
  
    <h1> 
        What is <br>the Jormungandr Project?
    </h1>
    
   <br><br> 
  <p>
    <span class="marginator">Jormungandr</span> is the World Serpent from 
    Norse mythology. He is the child of Loki and a giant who is so large he 
    circles the whole of Midgard. Jormungandr is used as a symbol of 
    learning for this course in that much growth will happen in a very short
    time and as a result nothing in the world will be out of reach.  
    This course is designed to create a fully competent and modern Linux 
    engineer. 
  </p>
   <br><br> 
   
  <p>
    <span class="marginator">Linux</span> Resources <br> 
        Linux Academy: Linux Courses- <a href>https://www.youtube.com/playlist?list=PLG49S3nxzAnmlC1ZsppuM7yleDuYCMHrv</a>
  </p>
  
  <br><br>
  <p>
    <span class="marginator">Python</span> Resources <br> 
        Udemy: The Modern Python 3 Bootcamp- <a href>https://linuxacademy.com/cp/library/catalog/view/LinuxCourses</a>
  </p>
  
  <br><br>
  <p>
    <span class="marginator">A+</span> Resources <br> 
        Youtube: Professor Messer's CompTIA A+ Certification Course- <a href>https://www.udemy.com/the-modern-python3-bootcamp/learn/v4/content</a>
  </p>
    
</div>
    
</body>
</html>