<!DOCTYPE HTML>
<html>
<head>
<title>The Kareema Project</title>
<link rel="stylesheet" href="app.css">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link href='//fonts.googleapis.com/css?family=Macondo' rel='stylesheet'>
</head>
<!-- ########## -->
<body>
    
<div class="header">

<a href="/contact" class="menuitem" id="one">CONTACT</a>
<a href="/boot" class="menuitem" id="two">BOOTS</a>
<a href="/" class="menuitem" id="logopic">
  
<a href="/" class="menuitem" id="logopic">KA</a>
  
</a>
<a href="/" class="menuitem" id="logo">KAREEMA'S PROJECT</a>
<a href="/" class="menuitem" id="logotext">GET YOUR LOOK DID GOOD</a>
<a href="/about" class="menuitem" id="three">ABOUT</a>
<a href="/bewbs" class="menuitem" id="four"> BEWBS</a>

</div>

<div class="bewbs">
  
    <h1> 
        BEWBS!!!
    </h1>
    
   <br><br> 
  <p>
    <span class="marginator">Show</span> us yer titties!  
  </p>
    
</div>
    
</body>
</html>