<!DOCTYPE HTML>
<html>
<head>
<title>The Kareema Project</title>
<link rel="stylesheet" href="app.css">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link href='//fonts.googleapis.com/css?family=Macondo' rel='stylesheet'>
</head>
<!-- ########## -->
<body>
    
<div class="header">

<a href="/contact" class="menuitem" id="one">CONTACT</a>
<a href="/boot" class="menuitem" id="two">BOOTS</a>
<a href="/" class="menuitem" id="logopic">
  
<a href="/" class="menuitem" id="logopic">KA</a>
  
</a>
<a href="/" class="menuitem" id="logo">KAREEMA'S PROJECT</a>
<a href="/" class="menuitem" id="logotext">GET YOUR LOOK DID GOOD</a>
<a href="/about" class="menuitem" id="three">ABOUT</a>
<a href="/bewbs" class="menuitem" id="four"> BEWBS</a>

</div>

<div class="contact">
  
  <h1> 
    PISS OFF, WANKER!
  </h1>
    
  <p>
    
    <br><br>
    AUSTIN, TX 78714
    
      <br><br>
      
     <br>
    KAREEMA.COM
    
    <br><br>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d190795.26607080924!2d-97.70544019342609!3d30.31370489846483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1495549180942" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

  </p>
    
</div>
    
</body>
</html>