<!DOCTYPE HTML>
<html>
<head>
<title>Jormungandr</title>
<link rel="stylesheet" href="app.css">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link href='//fonts.googleapis.com/css?family=Macondo' rel='stylesheet'>
</head>
<!-- ########## -->
<body>
    
<div class="header">

<a href="/contact" class="menuitem" id="one">PROGRAMMING</a>
<a href="/boot" class="menuitem" id="two">THE CLOUD</a>
<a href="/" class="menuitem" id="logopic">
  
<a href="/" class="menuitem" id="logopic">PROJECT:</a>
  
</a>
<a href="/" class="menuitem" id="logo">Jormungandr</a>
<a href="/" class="menuitem" id="logotext">A Linux Engineering Curriculum</a>
<a href="/about" class="menuitem" id="three">ABOUT</a>
<a href="/bewbs" class="menuitem" id="four"> LINUX</a>

</div>

<div class="contact">
  
  <h1> 
    PROGRAMMING
  </h1>
  
     <br><br> 
  <p>
    <span class="marginator">Python</span> C, C++ and Bash.
  </p>
    
</div>
    
</body>
</html>