<!DOCTYPE HTML>
<html>
<head>
<title>Jormungandr</title>
<link rel="stylesheet" href="app.css">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link href='//fonts.googleapis.com/css?family=Macondo' rel='stylesheet'>
</head>
<!-- ########## -->
<body>
    
<div class="header">

<a href="/contact" class="menuitem" id="one">PROGRAMMING</a>
<a href="/boot" class="menuitem" id="two">THE CLOUD</a>
<a href="/" class="menuitem" id="logopic">
  
<a href="/" class="menuitem" id="logopic">PROJECT:</a>
  
</a>
<a href="/" class="menuitem" id="logo">Jormungandr</a>
<a href="/" class="menuitem" id="logotext">A Linux Engineering Curriculum</a>
<a href="/about" class="menuitem" id="three">ABOUT</a>
<a href="/bewbs" class="menuitem" id="four"> LINUX</a>

</div>

<div class="content">
  
    <h1 class="black"> 
        COURSE <br> SYLLABUS
    </h1>
    
   <br><br> 
  <p class="black">
      Week 1(FEHU): Linux, scripting and A+.
  </p>
  <br><br>
  
  <p class="black">
      <span class="marginator"><strong>MONDAY:</strong> Linux 0</span>
  </p>
  <br><br> 
  <p class="black">
      LPI Linux Essentials: <br>
      - Course Overview <br>
      - Linux Evolution and Popular Operating Systems<br>
      - How to Access a Linux Installation<br><br>
      Jason: <br>
      - Install a distro using Virtual Box<br>
      - The filesystem and basic navigation.<br>
  </p>
  <br><br><br>
  
  <p class="black">
      <span class="marginator"><strong>TUESDAY:</strong> Python</span>
  </p>
  <br><br> 
  <p class="black">
      Python Bootcamp: <br>
      - Course Introduction <br>
      - Numbers, operators and comments <br><br>
      Jason: <br>
      - Basic programs <br>
      - Linux review. <br>
  </p>
  <br><br><br>
  
  <p class="black">
      <span class="marginator"><strong>WEDNESDAY:</strong> A+</span>
  </p>
  <br><br> 
  <p class="black">
      Professor Messer: <br>
      - BIOS and UEFI 1.1 to Motherboard Jumpers and Connectors 1.2<br><br>
      Jason:<br>
      - Lessons learned on the Helpdesk.<br>
      - Review <br>
  </p>
  <br><br><br>
  
  <p class="black">
      <span class="marginator"><strong>THURSDAY:</strong> Linux 0</span>
  </p>
  <br><br>
  <p class="black">
      LPI Linux Essentials: <br>
      - Major Opensource Applications <br><br>
     Jason:<br>
     - Review<br>
  </p>
  <br><br><br>
  
  <p class="black">
      <span class="marginator"><strong>FRIDAY:</strong> Python</span>
  </p>
  <br><br> 
  <p class="black">
      Python Bootcamp: <br>
      - Variables and Strings <br><br>
      Jason:<br>
      - Review <br>
  </p>
  <br><br><br>
  
  
  <p class="black">
      <span class="marginator"><strong>SATURDAY:</strong> Hackathon FEHU</span>
  </p>
  <br><br>
  <p class="black">
      - Mini Hackathon to re-enforce knowledge. <br>
      - Host a static web page using Apache2. <br>
      - Host a single serve page using Python.<br>
  </p>
  <br><br>
    
</div>
    
</body>
</html>